@import "themes-var-override.css";

:root.comments {
    --isso-primary-text-color: var(--content);
    --isso-secondary-text-color: var(--primary);
    --isso-border: 1px solid var(--border);
    --isso-box-shadow-color: var(--border);
    --isso-hover-color: var(--entry);

    --isso-link-hover-color: var(--link-hover);

    --isso-input-background-color: var(--code-bg);
    --isso-input-outline-color: var(--border);

    --isso-button-background-color: var(--theme);
    --isso-button-border: 1px solid var(--border);
    --isso-button-hover-background-color: var(--entry);
    --isso-button-active-background-color: var(--entry);

    --isso-preview-border-color: var(--border);
    --isso-preview-box-shadow-color: var(--border);
    --isso-preview-background: var(--entry);

    --isso-pre-color: var(--primary);
    --isso-pre-background-color: var(--code-bg);
    --isso-pre-border-color: var(--border);

    --isso-comment-divider-color: var(--border);
    --isso-page-author-suffix-color: var(--secondary);
    --isso-target-fade-background-color: var(--primary)
}