@import "nord.css";

:root {
    --theme: var(--nord6);
    --entry: var(--nord6);
    --primary: var(--nord1);
    --secondary: var(--nord3);
    --tertiary: var(--nord4);
    --content: var(--nord0);
    --hljs-bg: #242934;
    --code-bg: var(--nord6);
    --border: var(--nord4);
    --link: var(--nord10);
    --link-hover: var(--nord9);
}

/* :root {
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: #3B4252;
    --secondary: #4C566A;
    --tertiary: #D8DEE9;
    --content: #2E3440;
    --hljs-bg: #242934;
    --code-bg: #ECEFF4;
    --border: #D8DEE9;
    --link: #5e81ac;
} */

.dark {
    --theme: var(--nord0);
    --entry: var(--nord1);
    --primary: var(--nord5);
    --secondary: var(--nord4);
    --tertiary: var(--nord1);
    --content: var(--nord6);
    --hljs-bg: #242934;
    --code-bg: var(--nord2);
    --border: var(--nord2);
    --link: var(--nord8);
    --link-hover: var(--nord9);
}

/* .dark {
    --theme: #2E3440;
    --entry: #3B4252;
    --primary: #E5E9F0;
    --secondary: #D8DEE9;
    --tertiary: #4C566A;
    --content: #ECEFF4;
    --hljs-bg: #242934;
    --code-bg: #434C5E;
    --border: #434C5E;
    --link: #88c0d0;
} */