<!-- Default h-card -->
 <section class="h-card" style="display: none;">
   <a class="u-url" rel="me" href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
    <span class="p-name" rel="me">{{ .Site.Params.author }}</span>
    <span class="p-nickname">{{ .Site.Params.Nickname }}</span>
    {{ with .Site.Params.homeInfoParams.imageURL }}
        <img class="u-photo" alt="" src="{{ . | absURL }}">
    {{ end }}
    <span class="p-note" rel="me">{{ .Site.Params.description }}</span>
    {{- with .Site.Params.Pronouns -}}
        {{- $len_pronouns := (len .) }}
        {{ range $index, $element := . }}<span class="u-pronoun">{{ $element }}</span>
            {{- if eq (add $index 1) $len_pronouns -}}
            {{- else -}}
                /
            {{- end -}}
        {{- end }}
    {{- end -}}
 </section>